/* styles.css */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-bar {
    border-radius: 50px;
    border: 0px;
    outline: 0px;
    background-color: #e7e7e7;
    justify-self: center;
    width: 38vw;
    height: 25px;
    padding: 2px;
    padding-left: 15px;
    transition: all 0.3s ease;
}
.search-bar:focus{
    background-color: lightgrey;
    transform: scale(1.02);
}
.search-btn:hover,
.search-btn:active{
    background-color: lightgrey;
}

.header {
    min-height: fit-content;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid gray;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.logo-container {
    padding: 0 10px;
}

.icon-container {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.fas {
    font-size: 20px;
}

.content-container {
    display: flex;
}



.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
    box-sizing: border-box;
    text-align: center;
}

.side-bar>li {
    list-style-type: none;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
    align-items: center;
    text-align: center;
}

#active-title {
    background: rgba(188, 195, 204, 0.5);
    height: 40px;
}

.material-icons {
    color: rgb(99, 95, 94);
}

.side-bar-titles {
    text-decoration: none;
    color: rgb(53, 50, 49);
    font-size: 15px;
    text-align: left;
    padding: 0 0 0 13px;
}


.fa-clock,
.fa-thumbs-up {
    color: rgb(99, 95, 94);
}

i {
    color: rgb(99, 95, 94);
    font-size: 18px;
}

.side-bar-heading {
    color: rgb(99, 95, 94);
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 20px;
}

.channel-dp-container-1 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    justify-self: flex-start;
}

.channel-dp-1 {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: 50%;
}

.video-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 92vh;
    overflow: auto;
    width: 100%;
}

.side-bar-section {
    width: 20vw;
    height: 92vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease;
}

.side-bar-section>div {
    margin-bottom: 60px;
}

.tile {
    margin: 10px;
    background-color: #f1f1f1c2;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.2s ease;
    height: fit-content;
}

.searchInput-container {
    display: flex;
    gap: 10px;
}

.fa-youtube-logo {
    color: red;
    font-size: 39px;
    transition: 0.1s ease-in;
}

.fa-youtube-logo:hover {
    color: rgb(192, 0, 0);
    font-size: 40px;
}

.search-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    transition: all 0.1s ease;
}
.fa-search{
    font-size: 15px;
}

.tile:hover {
    background-color: #dddddd;
    transform: scale(1.1);
}

.images {
    width: 295px;
    height: 175px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.details {
    display: flex;
    flex-direction: row;
}

.tile-dp {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    justify-self: flex-start;
}

.channel-dp-2 {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.video-details {
    width: 200px;
    margin-top: 3px;
    margin-left: 10px;
    justify-self: flex-end;
}

.video-title {
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

.channel-name {
    color: rgb(99, 95, 94);
    text-decoration: none;
    display: block;
    margin-top: 5px;
}

.channel-name:hover {
    color: rgb(53, 50, 49);
}

.views {
    color: rgb(99, 95, 94);
    text-decoration: none;
}

.fa-circle {
    color: rgb(99, 95, 94);
    font-size: 2px;
    transform: translateY(-3px);
}

.time {
    text-decoration: none;
    color: rgb(99, 95, 94);
}

footer {
    position: fixed;
    background-color: #e1e1e1;
    height: 40px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
}

.footer-container {
    /* background-color: blue; */
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

@media all and (max-width: 255px) {
    .details {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media all and (max-width: 300px) {
    .header {
        flex-wrap: wrap;
    }

    .search-bar {
        order: 1;
        flex: 1 1 100%;
        justify-self: center;
    }

    .searchInput-container {
        display: flex;
    }
}

@media all and (max-width: 315px) {
    .images {
        width: 100%;
    }
}

@media all and (max-width: 550px) {
    .side-bar-heading {
        display: none;
    }

    .video-section {
        margin-left: 0;
    }

    .searchInput-container {
        display: none;
    }
}

@media all and (min-width: 550px) {

    .search-bar {
        display: block;
    }

    footer {
        display: none;
    }
}
@media all and (max-width: 1280px) {
    .side-bar-titles{
        display: none;
    }
    .side-bar>li{
        display: block;
    }
    .channel-dp-1{
        left: 0;
    }
}